<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/lit_inf_juv_peqprin.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">O Pequeno Príncipe</h5>
        <p class="card-text">A aventura do Pequeno Príncipe</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Antoine de Saint</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_inf" class="card-link">+LitInf</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/lit_inf_juv_pinoquio.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Pinóquio</h5>
        <p class="card-text">As aventuras de Pinóquio</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Carlo Collodi</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_inf" class="card-link">+LitInf</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/lit_inf_juv_oz.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">The Wonderful Wizard of OZ</h5>
        <p class="card-text">O mágico de OZ</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: L.Frank Baum</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-Lit_inf" class="card-link">+LitInf</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>