<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/direito_penal.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Direito Penal</h5>
        <p class="card-text">Direito Penal</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Cleber Masson</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-dir" class="card-link">+Direito</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/direito_processual.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Direito Processual</h5>
        <p class="card-text">Direito Processual</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Aury Lopes Jr.</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-dir" class="card-link">+Direito</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/direito_constitucional.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Direito Constitucional</h5>
        <p class="card-text">Direito Constitucional</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Pedro Lenza</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-dir" class="card-link">+Direito</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>