<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/manga_dbs2.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Dragon Ball Super 2</h5>
        <p class="card-text">Dragon Ball</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Akira Toriyama</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-hqmanga" class="card-link">+Mangá</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/manga_kakuriyo.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Kakuriyo</h5>
        <p class="card-text">Bed e BreakFest for Spirits</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Waco Loka</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-hqmanga" class="card-link">+Mangá</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/manga_monica.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Turma da Mônica</h5>
        <p class="card-text">Lendas Japonesas</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Mauricio de Souza</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-hqmanga" class="card-link">+Mangá</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>