<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/incriveis2.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Caminho Suave</h5>
        <p class="card-text">Alfabetização pela imagem</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Branca Alves de Lima</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-dida" class="card-link">+Didatico</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/didatico_matematica5.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Buriti Matemática</h5>
        <p class="card-text">História da Monica sobre o poder da ação</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Moderna</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-dida" class="card-link">+Didatico</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/didatico_texto.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Produção de Texto</h5>
        <p class="card-text">Livro da retratação de ações</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: SM</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-dida" class="card-link">+Didatico</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>