<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/ling_estrangeira_box.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Coleção de livros estrangeiros</h5>
        <p class="card-text">Uma coleção com livros estrangeiros</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Jane Aujten</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_est" class="card-link">+LingEstr</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/ling_estrangeira_meia_noite.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Sol da meia noite</h5>
        <p class="card-text">Livro estrangeiro</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Stephenie Meyer</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_est" class="card-link">+LitEstr</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/ling_estrangeira_nordicos.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Nórdicos</h5>
        <p class="card-text">Os melhores contos e lendas</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor:</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_est" class="card-link">+Ação</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>