<h1 class="mt-4">Cadastro</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">BRENT WEB</li>
</ol>

<div class="conteiner" >
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" >
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente cadastrado com sucesso!
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" [(ngModel)]="cliente.nome" name='nome' class="form-control"/>
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" [(ngModel)]="cliente.email" name="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Senha</label>
                    <input type="text" [(ngModel)]="cliente.senha" name="senha" class="form-control"/>
                </div>                
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>

        </div>
    </form>
</div>