<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/medi_horrores.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Medicina dos Horrores</h5>
        <p class="card-text">A história de Joseph Lister o homem que revolucionou o apavorante mundo das cirurgias do século XIX</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Lindsey Fitzharris</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-med" class="card-link">+Medicina</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/medi_interna.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Medicina Interna de Harrison</h5>
        <p class="card-text">Volume 1</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: 20º edição</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-med" class="card-link">+Medicina</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/medi_Vibra.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Medicina Vibracional</h5>
        <p class="card-text">Uma medicina para o futuro</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Richard Gerber</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-med" class="card-link">+Medicina</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>