<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/lit_nac_olhos.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Olhos D'Água</h5>
        <p class="card-text">Olhos D'Água</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Conceição Evaristo</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_nac" class="card-link">+LitNac</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/lit_nac_deus.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Se Deus me chamar não vou</h5>
        <p class="card-text">Se Deus me chamar não vou</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Mariana Salomão Carrara</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_nac" class="card-link">+LitNac</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/lit_nac_dom.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">Dom Casmurro</h5>
        <p class="card-text">Dom Casmurro</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Machado de Assis</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-lit_nac" class="card-link">+LitNac</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>