<div class="card-deck">
    <div class="card">
        <img src="assets/imagens/auto_Esperto.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">+ Esperto que o diabo</h5>
        <p class="card-text">O mistério revelado da verdade e do sucesso</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor(a) Napoleon Hill</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-autoajuda" class="card-link">+AutoAjuda</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/auto_imperfeito.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">A coragem de ser imperfeito</h5>
        <p class="card-text">Como aceitar a vulnerabilidade</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Brené Brown</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-autoajuda" class="card-link">+AutoAjuda</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
    <div class="card">
        <img src="assets/imagens/auto_Sutil.jpg" alt="..." class="img-thumbnail">
      <div class="card-body">
        <h5 class="card-title">A sutil arte de ligar o f#da-se</h5>
        <p class="card-text">Uma estratégia inusitada para uma vida melhor</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Recomendado Para todas as Idades</li>
        <li class="list-group-item">300 Páginas</li>
        <li class="list-group-item">Autor: Mark Manson</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Comprar</a>
        <a routerLink="/categ-autoajuda" class="card-link">+AutoAjuda</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Atualizados essa semana</small>
      </div>
    </div>
  </div>