<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">BRENT WEB</a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" 
            id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Perfil
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" routerLink="/categ-acao" type="button">
            <a class="nav-link">
            </a>
            Logar
          </button>

          <button class="dropdown-item" routerLink="/clientes-form" type="button">
            <a class="nav-link">
            </a>
            Cadastrar
          </button>

          <button class="dropdown-item" routerLink="/categ-clientes-form" type="button">
            <a class="nav-link">
            </a>
            Sair
          </button>
        </div>
      </div>

      
</nav>