<mat-toolbar>BRENT WEB</mat-toolbar>

<mat-tab-group>
   <mat-tab label= "Registrar" >
    <mat-card class = "half-width"> 
      
    <form [formGroup]="formulario" (ngSubmit)="submit()"> 

  <!-- Campo Nome -->
      <div>

          <!-- Campo - TextBox -->
        <mat-form-field class="full-width">
          <mat-label>Nome: </mat-label>
          <input formControlName="nome" matInput placeholder="Digite seu nome" />
        </mat-form-field>

         <!-- Tratamento de erro, "se existe erro, mostra mensagem" -->
        <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
          <div *ngIf="formulario.controls.nome.errors.required">
            Campo nome é obrigatório
          </div>
        </div>

      </div>

  <!-- Campo CPF-->
      <div>
        <!-- Campo - TextBox -->
        <mat-form-field class="full-width">
          <mat-label>E-mail: </mat-label>
          <input formControlName="email" matInput placeholder="Digite seu E-mail" />
        </mat-form-field>
       
        <!-- Tratamento de erro, "se existe erro, mostra mensagem" -->
        <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
          <div *ngIf="formulario.controls.email.errors.required">
            Campo E-mail é obrigatório
          </div>
        </div>

      </div>

  <!-- Campo -->
      <div>
        <!-- Campo - TextBox -->
        <mat-form-field class="full-width">
          <mat-label>Senha </mat-label>
          <input formControlName="senha" matInput placeholder="Digite seu Senha" />
        </mat-form-field>
         
        <!-- Tratamento de erro, "se existe erro, mostra mensagem" -->
        <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
          <div *ngIf="formulario.controls.senha.errors.required">
            Campo Senha é obrigatório
          </div>
        </div>

      </div>        

  <!-- Campo Carteira -->
      <div>
        <!-- Campo - TextBox -->
        <mat-form-field class="full-width">
          <mat-label>Carteira: </mat-label>
          <input formControlName="carteira" matInput placeholder="Digite sua Carteira" />
        </mat-form-field>  
         
        <!-- Tratamento de erro, "se existe erro, mostra mensagem" -->
        <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
          <div *ngIf="formulario.controls.carteira.errors.required">
            Campo Carteira é obrigatório
          </div>
        </div>

      </div>

  <!-- Campo Compras -->
      <div>
        <!-- Campo - TextBox -->
        <mat-form-field class="full-width">
          <mat-label>Compras: </mat-label>
          <input formControlName="compras" matInput placeholder="Digite seu Compras"/>
        </mat-form-field>  
         
        <!-- Tratamento de erro, "se existe erro, mostra mensagem" -->
        <div *ngIf="formulario.controls.nome.errors && !formulario.controls.nome.pristine">
          <div *ngIf="formulario.controls.compras.errors.required">
            Campo Compras é obrigatório
          </div>
        </div>
      
      </div>
        
  <!-- Botão-->
      <div>
      
        <button mat-raised-button color="primary">Adicionar</button>
      
      </div>

      </form>
    </mat-card>
  </mat-tab>


  <!-- Tabela dos Clientes usando Angular Material-->
  
  <mat-tab label="Tudo">
    <mat-card>
      <table mat-table [dataSource]="clientes" class="full-width">

        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let clientes"> {{clientes.Id}} </td>
        </ng-container>

        <!-- Nome -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef>NOME</th>
          <td mat-cell *matCellDef="let clientes"> {{clientes.nome}} </td>
        </ng-container>

        <!-- CPF -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>EMAIL</th>
          <td mat-cell *matCellDef="let clientes"> {{clientes.email}} </td>
        </ng-container>

        <!-- CNPJ-->
        <ng-container matColumnDef="senha">
          <th mat-header-cell *matHeaderCellDef>SENHA</th>
          <td mat-cell *matCellDef="let clientes"> {{clientes.senha}} </td>
        </ng-container>

        <!-- TELEFONE-->
        <ng-container matColumnDef="carteira">
          <th mat-header-cell *matHeaderCellDef>CARTEIRA</th>
          <td mat-cell *matCellDef="let clientes"> {{clientes.carteira}} </td>
        </ng-container>

        <!-- ENDERECO-->
        <ng-container matColumnDef="compras">
          <th mat-header-cell *matHeaderCellDef>COMPRAS</th>
          <td mat-cell *matCellDef="let clientes"> {{clientes.compras}} </td>
        </ng-container>

        <!-- Posicionamento das colunas-->
        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>


      </table>
    </mat-card>
  </mat-tab>

  

  <mat-tab label= "Login" >
    <mat-card class = "half-width"> 
    </mat-card>
   </mat-tab>
 
</mat-tab-group>  

